@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p class="lead">Welcome to Joel Hilton's curated collection of films.</p>
    <img src="~/images/joel.jpg" alt="Joel Hilton" class="img-fluid rounded mt-3" style="max-height: 400px;" />
</div>
